.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимает всю высоту экрана */
  background-color: white; /* Цвет фона страницы */
}

.black-square {
  width: 100px; /* Ширина квадрата */
  height: 100px; /* Высота квадрата */
  background-color: black; /* Цвет квадрата */
}